{% extends 'BseInscriptionBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
	    <div class="col-xs-6">
	    	<h4>Votre toute nouvelle candidature ?</h4>
	    	<hr/>
	    	<p>S'il s'agit de votre toute première inscription et que vous ne disposez pas de dossier de candidature, vous allez devoir faire votre première candidature.<br/><br/>    	
	    	<a href="{{ url('inscription_new', {"first": "first"}) }}"><button type="button" id="btnLogin" class="btn btn-success">Première candidature</button></a>
	    	</p>
	    </div>
	    <div class="col-xs-6">
	    	<h4>Vous disposez déjà d'un dossier</h4>
	    	<hr/>
	    	<p>Saisissez votre email et mot de passe pour consulter votre dossier.</p>
	    	{% if error %}
			    <div class="alert alert-danger" role="alert">{{ error|trans({}, 'FOSUserBundle') }}</div>
			{% endif %}
	    	<form class="form" action="{{ path("fos_user_security_check") }}" method="post"> 
	    		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                
                <input name="_username" id="email" type="text" value="{{ last_username }}" placeholder="Email" class="form-control input-sm" required="required" ><br/> 
                
                <input name="_password" required="required"  type="password" placeholder="Mot de passe" class="form-control input-sm"><br>
                
                <input type="submit" required="required" class="btn btn-info pull-left" value="Accèder à mon dossier"/>
                <div><a data-toggle="modal" href="#forgotPasswordModal" style="display: block;margin:10px 170px 0;">Mot de passe oubié ?</a></div>
            </form>
	    </div>
	</div>
{% endblock %}
