{% extends 'BseCandidatureBundle::layout.html.twig' %}

{% block subTitle %}Candidature - <span id="stepTitle" style="color: #D82828;">Etape 1 : Informations générales </span>{% endblock %}

{% block content %}		

		{% if emailAlreadyInUse is defined %}
		<div class="alert alert-danger"><b>Erreur : </b>l'email {{ emailAlreadyInUse }} renseigné est déjà utilisé !</div>
		{% endif %}
    	{{ form_start(form, {'method': 'POST', 'attr': {'id': 'newCandidatureForm'}} ) }} 
    		<input type="hidden" name="firstCandidature" value="{{ first }}">
    		<div id="rootwizard" class="wizard" style="margin-top:40px">
			<div class="col-xs-3">
				<ul class="nav nav-tabs tabs-left" style="height: 580px;">				  	
					<li class="active"><a href="#tab1" data-toggle="tab">Etape 1 : Informations générales</a></li>
					<li><a href="#tab2" data-toggle="tab">Etape 2 : Parcours d'études</a></li>		
					<li><a href="#tab3" data-toggle="tab">Etape 3 : Choix de la filière</a></li>
					<li><a href="#tab4" data-toggle="tab">Etape 4 : Validation</a></li>					
				</ul>
			</div>
			<div class="col-xs-9">
				<div class="tab-content">
					    
					    <div class="tab-pane active" id="tab1">					        
					    	
					    	<div>{{ form_errors(form) }}</div>

					    	<div class="row">
						    	<div class="col-xs-12 col-md-6 col-lg-6">								    
								    <div class="form-group">
								        <label>Prénom</label>
								        <p>{{ form_errors(form.prenom) }}</p>
								        <input type="text" id="txt_prenom" name="{{ form.prenom.vars.full_name }}" placeholder="ex : Ahmed" class="form-control input-sm"/>	
								    </div>
								    <div class="form-group">
								        <label>Nom</label>
								        <p>{{ form_errors(form.nom) }}</p>
								        <input type="text" id="txt_nom" name="{{ form.nom.vars.full_name }}" placeholder="ex : Talal" class="form-control input-sm"/>	
								    </div>
								    <div class="form-group">
								        <label>CIN</label>
								        <p>{{ form_errors(form.cin) }}</p>
								        <input type="text" id="txt_cin" name="{{ form.cin.vars.full_name }}" placeholder="ex : G 42402" class="form-control input-sm"/>	
								    </div>
								    <div class="form-group">
								        <label>CNE</label>
								        <p>{{ form_errors(form.cne) }}</p>
								        <input type="text" id="txt_cne" name="{{ form.cne.vars.full_name }}" placeholder="ex : 30494800" class="form-control input-sm"/>	
								    </div>	
								    <div class="form-group">
								        <label>{{ form_label(form.adresse) }}</label>
								        <p>{{ form_errors(form.adresse) }}</p>
								        <textarea id="txt_adresse" name="{{ form.adresse.vars.full_name }}" placeholder="ex : " class="form-control input-sm"></textarea>
								    </div>
								</div>									
								<div class="col-xs-12 col-md-6 col-lg-6">									
								    <div class="form-group">
								        <label>Sexe</label>	
								        <p></p>
								        <select id="{{ form.sexe.vars.id }}" name="{{ form.sexe.vars.full_name }}" class="form-control input-sm">
								        	<option value="M">Masculin</option>
								        	<option value="F">Féminin</option>
								        </select>							        			    
								    </div>
									<div class="form-group">
								        <label>{{ form_label(form.dateNaissance) }}</label>
								        <p>{{ form_errors(form.dateNaissance) }}</p>
								        {{ form_widget(form.dateNaissance) }}
							        </div>
							        <div class="form-group">
								        <label>Pays</label>	
								        <p></p>
								        <select id="{{ form.pays.vars.id }}" name="{{ form.pays.vars.full_name }}" class="form-control input-sm">
								        	{% for paysValue in paysData %}
								        	<option value="{{ paysValue }}">
								        		{{ paysValue }}
								        	</option>
								        	{% endfor %}
								        </select>						        			    
								    </div>
								    <div class="form-group">
								        <label>{{ form_label(form.ville) }}</label>
								        <p>{{ form_errors(form.ville) }}</p>
								        <input type="text" id="txt_ville" name="{{ form.ville.vars.full_name }}" placeholder="ex : Kénitra" class="form-control input-sm"/>	
								    </div>
								</div>
							</div>
					    </div>

						<div class="tab-pane" id="tab2">							
					    	<div>{{ form_errors(form) }}</div>

					    	<div class="row">
					    		<div class="row col-xs-12">
					    			<div class="form-group">
								        <label>Etablissement d'origine</label>
								        <p>{{ form_errors(form.filiere) }}</p>
								        <select id="{{ form.etablissementOrigine.vars.id }}" name="{{ form.etablissementOrigine.vars.full_name }}" class="form-control input-sm">
								        	{% for etablissementValue in etablissementsData %}
									        	<option value="{{ etablissementValue }}">
									        		{{ etablissementValue }}
									        	</option>
									        {% endfor %}	
								        </select>							        			    
								    </div>
					    			<div class="form-group">
								        <label>Type du diplôme</label>
								        <p>{{ form_errors(form.typeDiplome) }}</p>
								        <select id="{{ form.typeDiplome.vars.id }}" name="{{ form.typeDiplome.vars.full_name }}" class="form-control input-md">
								        	{% for typeDiplomeValue in typesDiplomeData %}
									        	<option value="{{ typeDiplomeValue }}">
									        		{{ typeDiplomeValue }}
									        	</option>
									        {% endfor %}
								        </select>							        			    
								    </div>
								    <div class="form-group">
								        <label>{{ form_label(form.intituleDiplome) }}</label>
								        <p>{{ form_errors(form.intituleDiplome) }}</p>
								        <input type="text" name="{{ form.intituleDiplome.vars.full_name }}" placeholder="ex : Licence fondamentale SMI" class="form-control input-sm" required/>	
								    </div>									
								</div>
								<div class="row">
									<div class="col-xs-4">
									    <div class="form-group">
									        <label>Année d'obtention du bac</label>	
									        <p></p>
									        <select id="{{ form.anneeObtentionBac.vars.id }}" name="{{ form.anneeObtentionBac.vars.full_name }}" class="form-control input-sm">
									        	{% for i in 2012..2000 %}
									        	<option value="{{ i }}">{{ i }}</option><?php } ?>
									        	{% endfor %}
									        </select>						        			    
									    </div>
									</div>									
									<div class="col-xs-4">
									    <div class="form-group">
									        <label>Année de 1ère inscription à l'université</label>	
									        <p></p>
									        <select id="{{ form.anneeInscription.vars.id }}" name="{{ form.anneeInscription.vars.full_name }}" class="form-control input-sm">
									        	{% for i in 2013..2005 %}
									        	<option value="{{ i }}">{{ i }}</option><?php } ?>
									        	{% endfor %}
									        </select>						        			    
									    </div>
									</div>
									<div class="col-xs-4">
									    <div class="form-group">
									        <label>Année d'obtention de la licence</label>	
									        <p></p>
									        <select id="{{ form.anneeObtentionLicence.vars.id }}" name="{{ form.anneeObtentionLicence.vars.full_name }}" class="form-control input-sm">
									        	{% for i in 2013..2005 %}
									        	<option value="{{ i }}">{{ i }}</option><?php } ?>
									        	{% endfor %}
									        </select>						        			    
									    </div>
									</div>																		
								</div>
								<div class="row">	
									<div class="col-xs-4">
									    <div class="form-group">
									        <label>Mention <small>(Licence)</small></label>	
									        <p></p>
									        <select id="{{ form.mention.vars.id }}" name="{{ form.mention.vars.full_name }}" class="form-control input-sm">
									        	{% for mentionValue in mentionsData %}
									        	<option value="{{ mentionValue }}">
									        		{{ mentionValue }}
									        	</option>
									        	{% endfor %}
									        </select>						        			    
									    </div>
									</div>
									<div class="col-xs-4">												    	
						    			<div class="form-group" style="margin: 36px 0 0 0;">
									        <label>Diplôme étranger ? &nbsp;&nbsp;<span>{{ form_widget(form.diplomeEtranger) }}</span></label>
									    </div>
									</div>
								</div>
								<h4>Notes :</h4>
								<div class="row">
							    	<div class="col-xs-12 col-md-4 col-lg-4">
									    <div class="form-group">
									        <label>Semestre 1</label>
									        <p>{{ form_errors(form.noteS1) }}</p>
									        <input type="text" id="txt_note_S1" name="{{ form.noteS1.vars.full_name }}" placeholder="ex : 13,50" class="form-control input-sm"/>	
								        </div>
									</div>
									<div class="col-xs-12 col-md-4 col-lg-4">
										<div class="form-group">
									        <label>Semestre 2</label>
									        <p>{{ form_errors(form.noteS2) }}</p>
									        <input type="text" id="txt_note_S2" name="{{ form.noteS2.vars.full_name }}" placeholder="ex : 11,00" class="form-control input-sm"/>	
									    </div>
									</div>
									<div class="col-xs-12 col-md-4 col-lg-4">
										<div class="form-group">
									        <label>Semestre 3</label>
									        <p>{{ form_errors(form.noteS3) }}</p>
									        <input type="text" id="txt_note_S3" name="{{ form.noteS3.vars.full_name }}" placeholder="ex : 14,00" class="form-control input-sm"/>	
								        </div>	    
									</div>
								</div>
								<div class="row">
							    	<div class="col-xs-12 col-md-4 col-lg-4">
								        <div class="form-group">
									        <label>Semestre 4</label>
									        <p>{{ form_errors(form.noteS4) }}</p>
									        <input type="text" id="txt_note_S4" name="{{ form.noteS4.vars.full_name }}" placeholder="ex : 10,00" class="form-control input-sm"/>	
									    </div>
									</div>
									<div class="col-xs-12 col-md-4 col-lg-4">
								        <div class="form-group">
									        <label>Semestre 5</label>
									        <p>{{ form_errors(form.noteS5) }}</p>
									        <input type="text" id="txt_note_S5" name="{{ form.noteS5.vars.full_name }}" placeholder="ex : 14,00" class="form-control input-sm"/>	
								        </div>		    
									</div>
									<div class="col-xs-12 col-md-4 col-lg-4">
								        <div class="form-group">
									        <label>Semestre 6</label>
									        <p>{{ form_errors(form.noteS6) }}</p>
									        <input type="text" id="txt_note_S6" name="{{ form.noteS6.vars.full_name }}" placeholder="ex : 10,00" class="form-control input-sm"/>	
									    </div>		    
									</div>
								</div>
							</div>	
						</div>	 

						<div class="tab-pane" id="tab3">
					      	
					    	<div>{{ form_errors(form) }}</div>

					    	<div class="row">
						    	<div class="col-xs-12 col-md-12 col-lg-12">
						    		<div>
						    			<input type="hidden" id="{{ form.filiere.vars.id }}" name="{{ form.filiere.vars.full_name }}"/>
						    		</div>
								    <div class="form-group" id="filieresContainer">
								        <p>Choisissez la filière où vous désirez déposer votre candidature : <span class="label label-success">(Faites le choix par ordre de préférence)</span></label>
								        <div id="filieresDupliqueErrorMsg" class="alert alert-danger" style="display:none">Vous ne devez pas choisir une filière plus d'une fois</div>								        
								        <div class="row filiere_control" id="filiere_control_model">
								        	<div class="col-md-4">
										        <select class="form-control input-md faculteInput" name="facultes[]" required>
										        	{% for faculteKey, faculteValue in facultesData %}
										        	<option value="{{ faculteKey }}">{{ faculteValue }}</option>
										        	{% endfor %}
										        </select>
								        	</div>
								        	<div class="col-md-8">
										        <select class="col-xs-8 form-control input-md filiereInput" name="filieres[]" required>
										        	<option value="">Choisissez une filière</option>
										        	{% for filiereValue in filieresData['FS'] %}
										        	<option value="{{ filiereValue }}">
										        		{{ filiereValue }}
										        	</option>
										        	{% endfor %}
										        </select>
										    </div>
								        </div>					        			    
								    </div>	
								    <div>
  										<button type="button" id="btnAddFiliere" class="btn btn-info btn-xs">Ajouter une autre filière</button>
  										<button type="button" id="btnRemoveLastFiliere" class="btn btn-danger btn-xs">Supprimer la dernière filière</button>
									</div>			    				    			    
								</div>
							</div>
					    </div>

						<div class="tab-pane" id="tab4">
							
					    	<div>{{ form_errors(form) }}</div>

					    	<div class="row">
						    	<div class="col-xs-12">
						    	{% if first == "first" %}	
								    <div class="form-group">
								    	<p>Un dossier de candidature vous sera créé avec votre email comme identifiant et sera protégé avec un mot de passe. Vous allez pouvoir consulter votre dossier en indiquant votre email et le mot de passe correspondant.<br/><br/>
								    	<b>Veuillez choisir un mot de passe pour votre dossier.</b></p>
								    </div>
								    <div class="col-xs-4">
								    	<div class="form-group">
									        <label>{{ form_label(form.email) }}</label>
									        <p>{{ form_errors(form.email) }}</p>
									        <input type="email" id="txt_email" name="{{ form.email.vars.full_name }}" placeholder="ex : monemail@gmail.com" class="form-control input-sm"/>
								    	</div>
									    <div class="form-group">
									        <label>Mot de passe</label>								        
									        <input type="password" id="txt_motDePasse" name="{{ form.motDePasse.vars.full_name }}" class="form-control input-sm"/>	
								        </div>
								        <div class="form-group">
									        <label>Confirmation du mot de passe</label>								        
									        <input type="password" id="txt_motDePasseConfirmation" name="txt_motDePasseConfirmation" class="form-control input-sm"/>	
									    </div>
									</div>									
								{% else %}	
									<div class="form-group">
								    	<p>Cette nouvelle candidature sera ajouté à votre dossier de candidatures.</p><br/>
								    	<p>Veuillez envoyer votre demande.</p>
								    </div>
								{% endif %}	
								</div>
							</div>
						</div>
					    <div class="form-group">		        
					        {{ form_row(form._token) }}
					        <!-- <input type="submit" class="btn btn-primary" value="Enregistrer"/> -->
				    	</div>	
				    </div>

				    <div class="pager wizard">					
						<li class="previous" style="background-color: #83A29A;color:#fff"><a href="javascript:;">Etape précedente</a></li>					
					  	<li class="next"><a href="javascript:;">Etape suivante</a></li>
						<li class="next finish" style="display:none;"><a href="javascript:;" style="background-color:#2A2; border:0; color:#fff">Envoyer la demande de candidateure</a></li>
					</div>

				</div>					
			</div>	
			<ul class="record_actions hide">
			    <li>
			        <a href="{{ path('candidature') }}">
			            Back to the list
			        </a>
			    </li>
			</ul>
		</div>

	    		    				    	
    	{{ form_end(form,{'render_rest': false}) }}



<script type="text/javascript">  

	$(document).ready(function() {
	  	$('#rootwizard').bootstrapWizard({
	  		'tabClass': 'nav nav-tabs',
	  		onTabClick: function(tab, navigation, index) {	
				//var current = index+1;
	  			// var indexOfClickedTab = tab.att('');
	  			// alert(tab.attr('href') + tab.html());

				return false;
			},
			onNext: function(tab, navigation, index) {					

				// Make sure the values are valid before moving to next step
				if(!$("#newCandidatureForm").valid()){
					return false;
				}

				
				if(filiereChoosedMoreThanOnce()){
		  			$('#filieresDupliqueErrorMsg').show();
		  			return false;
		  		}else{
		  			$('#filieresDuplique').hide();
		  		}			
			},
		  	onTabShow: function(tab, navigation, index) {
		  		var stepTitle = tab.children().first().html();
				$('#stepTitle').html(stepTitle);

				var $total = navigation.find('li').length;
				var $current = index+1;
				var $percent = ($current/$total) * 100;
				$('#rootwizard').find('.bar').css({width:$percent+'%'});
				
				// If it's the last tab then hide the last button and show the finish instead
				if($current >= $total) {
					$('#rootwizard').find('.pager .next').hide();
					$('#rootwizard').find('.pager .finish').show();
					$('#rootwizard').find('.pager .finish').removeClass('disabled');
				} else {
					$('#rootwizard').find('.pager .next').show();
					$('#rootwizard').find('.pager .finish').hide();
				}		
			}
		});

	  	$('#rootwizard .finish').click(function() {			
			if($("#newCandidatureForm").valid()){
				$( "#newCandidatureForm" ).submit();
			}				
		});

		/* ------ BEGIN - ASK JQUERY VALIDATE PLUGIN TO USE COMMA FOR FLOAT DECIMAL ---- */
		$.validator.methods.range = function (value, element, param) {
		    var globalizedValue = value.replace(",", ".");
		    return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
		}		 
		$.validator.methods.number = function (value, element) {
		    return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
		}
		/* ------ END - ASK JQUERY VALIDATE PLUGIN TO USE COMMA FOR FLOAT DECIMAL ---- */
		
		$("#newCandidatureForm").validate();		
  		$( "#txt_nom" ).rules( "add", {required: true} );
  		$( "#txt_prenom" ).rules( "add", {required: true} );
  		$( "#txt_cin" ).rules( "add", {required: true} );
  		$( "#txt_cne" ).rules( "add", {required: true} );
  		$( "#txt_ville" ).rules( "add", {required: true} );
  		$( "#txt_adresse" ).rules( "add", {required: true} );		
		
  		$( "#txt_note_S1" ).rules( "add", {required: true, range:[10, 20]} );
  		$( "#txt_note_S2" ).rules( "add", {required: true, range:[10, 20]} );
  		$( "#txt_note_S3" ).rules( "add", {required: true, range:[10, 20]} );
  		$( "#txt_note_S4" ).rules( "add", {required: true, range:[10, 20]} );
  		$( "#txt_note_S5" ).rules( "add", {required: true, range:[10, 20]} );
  		$( "#txt_note_S6" ).rules( "add", {required: true, range:[10, 20]} );	
		
		
		{# --------------- validation JS of field that exists only on a new inscription ---------------  #}
		
		{% if first == "first" %} 
		$( "#txt_email" ).rules( "add", {required: true} );
		$( "#txt_motDePasse" ).rules( "add", {required: true} ); 	
		$.validator.addMethod("passwordCheck", function (value, element) {
        	return value == $("#txt_motDePasse").val(); 
        }, 'La confirmation du mot de passe ne correspond pas au mot de passe renseigné');

		$( "#txt_motDePasseConfirmation" ).rules( "add", {required:true, passwordCheck: true} );  	
		{% endif %}	
			
		//#################### BEGIN - HANDLING THE DYNAMIC CREATION & VALIDATION OF SELECT ELEMENTS ##################

		var filiereControlClass = 'filiere_control';
		var filiereInputClass = 'filiereInput';
		var filierePropertyValue = '';
		var filieresArray = {
			{% for faculteKey, faculteValue in facultesData %}
			'{{faculteKey}}' : [ {% for filiereValue in filieresData[faculteKey] %} "{{ filiereValue }}" {% if not loop.last %}, {% endif %} {% endfor %} ]
			{% if not loop.last %}, {% endif %}
			{% endfor %}			
		};	

		bindChangeEventToFaculteSelectElements();
		bindChangeEventToFiliereSelectElements();

		$('#btnAddFiliere').click(function(){
			var newFiliereControl = $('#filiere_control_model').clone();
			newFiliereControl.appendTo('#filieresContainer');			
			reloadSelectOptions(newFiliereControl.find('.faculteInput')); // update options of filiere 
			// renbind change event so that the new one will it's own also
			bindChangeEventToFiliereSelectElements();	
			bindChangeEventToFaculteSelectElements();
			updateFilierePropertyValue();				
		});

		$('#btnRemoveLastFiliere').click(function(){
			var filieresElements = $(('.' + filiereControlClass));			
			if(filieresElements.length > 1){
				filieresElements.last().remove();
				updateFilierePropertyValue();
			}			
		});

		function bindChangeEventToFiliereSelectElements(){
			// make sure the elements have only one change event
			$(('.' + filiereInputClass)).unbind('change');			

			$(('.' + filiereInputClass)).change(function(){					
				updateFilierePropertyValue();
			});			  	
		}

		function bindChangeEventToFaculteSelectElements(){
			// make sure the elements have only one change event
			$('.faculteInput').unbind('change');


			$('.faculteInput').change(function(){
				reloadSelectOptions( $(this) );
				updateFilierePropertyValue();
			});			  	
		}

		function updateFilierePropertyValue(){			
			filierePropertyValue = '';
			var filieresElements = $(('.' + filiereInputClass));
			var nbrOfFilieresElements = filieresElements.length;
			filieresElements.each(function(index, element) {
			  var faculteValue = $(this).parent().parent().find('.faculteInput').val();
			  var entryValue = faculteValue + ";;;" + $(this).val()
			  filierePropertyValue += (index != nbrOfFilieresElements - 1)? entryValue + '//': entryValue;
			});			
			$("#{{ form.filiere.vars.id }}").val(filierePropertyValue);
		}

		function filiereChoosedMoreThanOnce(){
			var flag = false;
			var filieresElements = $(('.' + filiereInputClass));				
			filieresElements.each(function(index, element) {
				var comparedValue = $(this).val();
				var occurrencesOfValue = 0;
		  		filieresElements.each(function(index, element) {
		  			if(comparedValue == $(this).val())
		  				occurrencesOfValue++;
		  		});			  		
		  		if(occurrencesOfValue > 1){
		  			flag = true;			  			
		  			return;			  			
		  		}		  		
			});
			return flag;
		}

		function reloadSelectOptions(selectInput){
			//var value = $(this).find("option:selected").val();
			var codeFiliere = selectInput.val();
		    var filieres = filieresArray[codeFiliere];
			var option = '';
			for (i=0;i<filieres.length;i++){
			   option += '<option value="'+ filieres[i] + '">' + filieres[i] + '</option>';
			}
			var filiereSelectInput = selectInput.parent().parent().find(('.' + filiereInputClass));
			filiereSelectInput.find('option').remove();
			filiereSelectInput.append(option);
		}		

		// ####################### END - HANDLING THE DYNAMIC CREATION OF SELECT ELEMENTS #######################

	});	
</script>


<script src="{{ asset('bundles/bsecandidature/js/jquery.bootstrap.wizard.min.js') }}"></script>
<script src="{{ asset('bundles/bsecandidature/js/jquery-validate.bootstrap-tooltip.min.js') }}"></script>
<script src="{{ asset('bundles/bsecandidature/js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('bundles/bsecandidature/js/jquery-validate.bootstrap-tooltip.min.js') }}"></script>


{% endblock %}
