<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>{% block title %}UIT - Inscription {% endblock %}</title>
	    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
	    <link rel="stylesheet" href="{{ asset('bundles/bseinscription/css/bootstrap.min.css') }}" />
      <link rel="stylesheet" href="{{ asset('bundles/bseinscription/css/bootstrap.vertical-tabs.min.css') }}" />

	    <script src="{{ asset('bundles/bseinscription/js/jquery.min.js') }}"></script>
	    <script src="{{ asset('bundles/bseinscription/js/bootstrap.min.js') }}"></script>	  

	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{{ url('bse_inscription_welcome') }}" class="navbar-brand">UIT - CANDIDATURE EN LIGNE</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>        
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Filières <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="../cerulean/">Cerulean</a></li>
                <li><a href="../cosmo/">Cosmo</a></li>
                <li><a href="../cyborg/">Cyborg</a></li>
                <li><a href="../darkly/">Darkly</a></li>
                <li><a href="../flatly/">Flatly</a></li>
                <li><a href="../journal/">Journal</a></li>
                <li><a href="../lumen/">Lumen</a></li>
                <li><a href="../paper/">Paper</a></li>
                <li><a href="../readable/">Readable</a></li>
                <li><a href="../sandstone/">Sandstone</a></li>
                <li><a href="../simplex/">Simplex</a></li>
                <li><a href="../slate/">Slate</a></li>
                <li><a href="../spacelab/">Spacelab</a></li>
                <li><a href="../superhero/">Superhero</a></li>
                <li><a href="../united/">United</a></li>
                <li><a href="../yeti/">Yeti</a></li>
              </ul>
            </li>
            <li>
              <a href="{{ url('bse_inscription_welcome') }}">Aide</a>
            </li>
            <li>
              <a href="{{ url('bse_inscription_welcome') }}">A propos</a>
            </li>            
          </ul>

          <ul class="nav navbar-nav navbar-right">            
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" style="background-color: {% if app.user is empty %}#5F6369{% else %} #5B9E9E;{% endif %} ;color:#fff; font-weight:bold;font-size:10px">
                {% if app.user is not empty %}
                  Bonjour <span style="text-transform:uppercase">{{ app.user.username }}</span>             
                {% else %}
                CONSULTER MON DOSSIER 
                {% endif %}
              </a>
              {% if app.user is not empty %}
              <div class="dropdown-menu" style="padding:17px;">
                  <a href="{{ url('fos_user_security_logout') }}">Se déconnecter  </a>
              </div>
              {% else %}
              <div class="dropdown-menu" style="padding:17px;">
                <form class="form" id="formLogin" action="{{ url('fos_user_security_login') }}"> 
                  <input name="username" id="email" type="text" placeholder="email" class="form-control input-sm"/><br/> <input name="password" id="mot_de_passe" type="password" placeholder="Mot de passe" class="form-control input-sm"><br>
                  <button type="button" id="btnLogin" class="btn btn-info">Login</button><br/><br/>
                  <a data-toggle="modal" role="button" href="#forgotPasswordModal">Mot de passe oublié ?</a>
                </form>
              </div>
              {% endif %}
            </li>
          </ul>
          
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:50px">
      <h3>Service en ligne de candidature aux masters / <b>{% block subTitle %}{% endblock %}</b></h3>
      <hr/>     
		  {% block content %}{% endblock %}
	</div>	
	</body>
<html>